<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
	<link rel="shortcut icon" href="../static/img/favicon.png">
	<title>Deal Finder App</title>
</head>

<body>
	<div class="loader-idle">
		<img src="../static/img/loading.gif" alt="Loading..." />
	</div>
	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container">
			<div class="container-fluid">
				<h1><a class="navbar-brand" href="#"><span class="text-light">Deal</span><span
							class="text-light text-bg-primary p-1">Finder</span></a></h1>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row mt-4">
			<div class="col-md-6">
				<form class="d-flex" role="search">
					<input id="search_bar" class="search_bar form-control form-control-lg" type="text" name="search_bar"
						placeholder="What are you looking for today?">
					<select class="form-select" id="select_number" name="select_number">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3" selected>3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
					<button type="button" class="btn btn-secondary btn-lg" id="search_button">Search</button>
				</form>
			</div>

			<div class="row mt-4">
				<form>
					<div class="search_div">
						<div class="selection_container">
							<label class="checkbox_label" for="ebay_checkbox"> <img src="../static/img/ebay.png">
								<!--Ebay-->
							</label>
							<div title="ebay">
								<div class="checkbox_div">
									<input type="checkbox" value="1" id="ebay_checkbox" name="ebay_checkbox" checked />
									<label for="ebay_checkbox"></label>
								</div>
							</div>
							<label class="checkbox_label" for="amazon_checkbox"> <img src="../static/img/amazon.png">
								<!--Amazon-->
							</label>
							<div title="amazon">
								<div class="checkbox_div">
									<input type="checkbox" value="1" id="amazon_checkbox" name="amazon_checkbox"
										checked />
									<label for="amazon_checkbox"></label>
								</div>
							</div>
							<label class="checkbox_label" for="aliexpress_checkbox"><img src="../static/img/lock.png">
								<img src="../static/img/Aliexpress.png">
								<!--Aliexpress-->
							</label>
							<div title="aliexpress">
								<div class="checkbox_div">
									<input type="checkbox" onclick="LockFunction1()" value="1" id="aliexpress_checkbox"
										name="aliexpress_checkbox" />
									<label for="aliexpress_checkbox"></label>
								</div>
							</div>
							<label class="checkbox_label" for="gearbest_checkbox"><img src="../static/img/lock.png">
								<img src="../static/img/gearbest.png">
								<!-- Gearbest--> </label>
							<div title="gearbest">
								<div class="checkbox_div">
									<input type="checkbox" onclick="LockFunction2()" value="1" id="gearbest_checkbox"
										name="gearbest_checkbox" />
									<label for="gearbest_checkbox"></label>
								</div>
							</div>
							<label class="checkbox_label" for="banggood_checkbox"><img src="../static/img/lock.png">
								<img src="../static/img/banggood.png">
								<!--Banggood-->
							</label>
							<div title="banggood">
								<div class="checkbox_div">
									<input type="checkbox" onclick="LockFunction3()" value="1" id="banggood_checkbox"
										name="banggood_checkbox" />
									<label for="banggood_checkbox"></label>
								</div>
							</div>
							<label class="checkbox_label" for="daraz_checkbox"><img src="../static/img/lock.png">
								<img src="../static/img/daraz.png">
								<!--Daraz-->
							</label>
							<div title="daraz">
								<div class="checkbox_div">
									<input type="checkbox" onclick="LockFunction4()" value="1" id="daraz_checkbox"
										name="daraz_checkbox" />
									<label for="daraz_checkbox"></label>
								</div>
							</div>
							<label class="checkbox_label" for="kapruka_checkbox"><img src="../static/img/lock.png">
								<img src="../static/img/kapruka.png">
								<!--Kapruka-->
							</label>
							<div title="kapruka">
								<div class="checkbox_div">
									<input type="checkbox" onclick="LockFunction5()" value="1" id="kapruka_checkbox"
										name="kapruka_checkbox" />
									<label for="kapruka_checkbox"></label>
								</div>
							</div>
							<label class="checkbox_label" for="bigdeals_checkbox"><img src="../static/img/lock.png">
								<img src="../static/img/bigdeals.png">
								<!-- Bigdeals--> </label>
							<div title="bigdeals">
								<div class="checkbox_div">
									<input type="checkbox" onclick="LockFunction6()" value="1" id="bigdeals_checkbox"
										name="bigdeals_checkbox" />
									<label for="bigdeals_checkbox"></label>
								</div>
							</div>
						</div>
						<div class="image">
							<img src="../static/img/deal.png">
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="results_div">
		</div>
		<div class="csv_div">
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
	<script src="../static/js/script.js"> </script>
	<script src="../static/js/lock.js"> </script>
	<script src="https://kit.fontawesome.com/5e6b5ddfea.js" crossorigin="anonymous"></script>
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</body>

</html>